<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | DevSyncWeb</title>

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Sidebar -->
    <aside class="sidebar z-10">
        <div class="left">
            @if (Session["Usuario"] != null)
            {
                var usuario = (Entidad.EntUsuario)Session["Usuario"];
                <img src="@Url.Content(usuario.sImgUrl ?? "https://www.movilzona.es/https://www.movilzona.es/app/uploads-movilzona.es/2023/04/fto-perfil-800x450.jpg")" alt="@usuario.sNombreUsuario" />
                <button onclick="location.href='@Url.Action("Logout", "Auth")'">
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            }
            else
            {
                <img src="@Url.Content("https://www.movilzona.es/https://www.movilzona.es/app/uploads-movilzona.es/2023/04/fto-perfil-800x450.jpg")" alt="Usuario" />
                <button onclick="location.href='@Url.Action("Login", "Auth")'">
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            }
        </div>
        <div class="right">
            <h1>DevSync</h1>
            <nav class="buttons">
                <button onclick="location.href='@Url.Action("Listar", "Proyecto")'">
                    <i class="fas fa-project-diagram"></i>
                    <span>Proyecto</span>
                </button>
                <button>
                    <i class="fas fa-tasks"></i>
                    <span>Sprint</span>
                </button>
                <button>
                    <i class="fas fa-list"></i>
                    <span>Product Backlog</span>
                </button>
            </nav>
            <h2>Opciones</h2>
            <nav class="buttons">
                <button onclick="location.href='@Url.Action("Index", "Home")'">
                    <i class="fas fa-home"></i>
                    <span>Inicio</span>
                </button>
            </nav>
        </div>
    </aside>

    <!-- Main Content -->
    <main class="container-body">
        @RenderBody()
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @RenderSection("scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    
</body>
</html>